.comic {
    --color-body: #2f2c2d;
    --color-background: #dfd9cc;
    --color-button-active: #b8212a;
    display: flex;
    flex-direction: column;
    font-family: var(--font-montserrat);

    .imageWrapper {
        position: relative;
        margin-bottom: 30px;

        .img {
            width: 100%;
            height: auto;
            box-shadow: 0px 5px 15px #00000029;
        }

        .button {
            position: absolute;
            bottom: -20px;
            left: 50%;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            color: var(--color-light);
            background: var(--background-dark);
            border: 3px solid transparent;
            border-radius: 50%;
            box-shadow: 0px 0px 5px rgb(0 0 0 / 50%);
            transform: translate(-50%);
            cursor: pointer;
            transition: background 500ms, color 500ms, border 500ms;

            &.buttonActive {
                background: var(--color-alt);
                border: 3px solid var(--color-light);
            }
        }
    }
}

@media (hover: hover) {
    .comic .imageWrapper .button:hover {
        background: var(--color-alt);
        border: 3px solid var(--color-light);
    }
}

.detail {
    position: relative;
    padding: 4px;
    height: 100%;
    color: var(--color-dark);
    font-size: 16px;
    line-height: 1.2;

    .title {
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: bold;
    }

    .label {
        padding-right: 5px;
        font-size: 16px;
        line-height: 1.2;
        font-family: var(--font-karla);
        font-weight: 900;
    }

    .detailInfo {
        list-style: none;
        font-family: var(--font-karla);

        > .li {
            padding-bottom: 5px;
        }
    }
}

/* Pagination */
.paginationWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px auto;
    font-size: 18px;
    line-height: 1;

    .span {
        font-family: var(--font-karla);
    }

    .button {
        width: 35px;
        height: 35px;
        color: var(--color-light);
        background: var(--background-dark);
        border-radius: 100%;
        cursor: pointer;
    
        .icon {
            position: relative;
            top: 1px;
            font-size: 18px;
        }

        &.prev .icon {
            left: -1px;
        }

        &.next .icon {
            left: 1px;
        }

        &.disabled {
            opacity: 0.5;
            pointer-events: none;
        }
    }
}