.comic {
    --color-body: #2f2c2d;
    --color-background: #dfd9cc;
    --color-button-active: #b8212a;
    display: flex;
    flex-direction: column;
    font-family: var(--font-montserrat);

    & .imageWrapper {
        position: relative;
        margin-bottom: 30px;

        & .img {
            width: 100%;
            height: auto;
            box-shadow: 0px 5px 15px #00000029;
        }

        & .button {
            position: absolute;
            bottom: -20px;
            left: 50%;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            color: var(--color-light);
            background: var(--background-dark);
            border: 3px solid transparent;
            border-radius: 50%;
            box-shadow: 0px 0px 5px rgb(0 0 0 / 50%);
            transform: translate(-50%);
            cursor: pointer;
            transition: background 500ms, color 500ms, border 500ms;
        }
    }
}

.comic .button.buttonActive {
    background: var(--color-alt);
    border: 3px solid var(--color-light);
}

.button > span {
    position: relative;
    top: 1px;
    font-variation-settings: 'FILL' 1
}

.detail {
    position: relative;
    padding: 4px;
    height: 100%;
    color: var(--color-dark);
    font-size: 16px;
    line-height: 1.2;

    & .title {
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: bold;
    }

    & .label {
        padding-right: 5px;
        font-size: 16px;
        line-height: 1.2;
        font-family: var(--font-karla);
        font-weight: 900;
    }

    & .detailInfo > li {
        
    }
}



.detailInner {
    
}

.detailInfo {
    list-style: none;
    font-family: var(--font-karla);
}

.detailInfo > li {
    padding-bottom: 5px;
}

.label {
}

@media (hover: hover) {
    .button:hover {
        background: var(--color-alt);
        border: 3px solid var(--color-light);
    }
}