.favoritesWrapper {
    position: sticky;
    top: 0;
    padding: 30px;
    background: var(--background-dark);
    color: var(--color-light);
    font-family: var(--font-karla);

    & .heading {
        margin-bottom: 20px;
        font-size: 25px;
        line-height: 1.2;
        font-weight: 900;
        letter-spacing: 0.25px;
    }
 }
  
.favoritesItem {
    position: relative;
    margin-bottom: 25px;
    display: grid;
    grid-template-columns: 0.25fr 0.75fr;
    gap: 10px;
    align-items: center;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;

    & .img {
        width: 100%;
        height: auto;
    }

    & .title {
        margin-bottom: 5px;
        font-weight: bold;
    }

    & .removeButton {
        position: absolute;
        top: -6px;
        left: -6px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 12px;
        width: 12px;
        color: #C24868;
        font-size: 9px;
        line-height: 16px;
        background:#F8F8F2 0% 0% no-repeat padding-box;
        border: none;
        border-radius: 50%;
        cursor: pointer;
    }
}