.main {
  margin: 0 auto;
  max-width: 1440px
}

.header {
  margin: 20px 0 40px;
}

/* Intro Container */
.introContainer {
  margin: 0 auto 80px;
  max-width: 700px;
}

.introContainer .intro-heading {
  position: relative;
}

.introContainer .introTitle {
  position: relative;
  padding-top: 30px;
  margin-bottom: 35px;
  font-family: var(--font-montserrat);
}

.introContainer .introTitle .titleBanner {
  position: absolute;
  top: 0;
  left: -50px;
  padding: 10px 15px;
  background-color: var(--background-blue);
  color: #F8F8F2;
  font-size: 18px;
  text-shadow: 2px 2px 0px #222222;
  line-height: 1;
  transform: rotate(-5deg);
  z-index: 1;
}

.introContainer .introTitle .titleContent {
  position: relative;
  color: var(--color-alt);
  font-family: var(--font-montserrat);
  font-size: 49px;
  font-weight: 900;
  line-height: 1;
  z-index: 2;
}

.introContainer p {
  font: normal normal normal 20px/32px Montserrat;
}

/* Favorites */
.favoritesWrapper {
  padding: 30px;
  background: #222222;
  color: #F8F8F2;
}

.favoritesWrapper h3 {
  font: normal normal 900 25px/30px Montserrat;
  letter-spacing: 0.25px;
}

@media (min-width: 641px) {
  .comicsListView {
    display: grid;
    grid-template-columns: 0.8fr 0.2fr;
    gap: 60px;
  }
}